
<header class="header">
    <app-navbar
        [corDoBackground]="corDoBackground"
    ></app-navbar>
    <div>
       <div class="bg-img" >
            <div class="title-style text-center position-absolute bottom-0 start-0 ms-lg-5 ms-md-0" [style.background-color]="corDoBackground">
                <h2>
                    {{post.title}}
                </h2>
            </div>
       </div>

    </div>
    <div class="containe-fluid container-content text-black mt-5 padding-custom">
        <div class="row">
            <div class="content col-lg-8 col-md-12">
                <h1>{{post.title}}</h1>
                <br>
                <br>
                <h4>{{post.description}}</h4>
                <br>
                <br>
                <p [innerHTML]="post.content"></p>
            </div>
            <div class="col-lg-4 col-md-12 justify-content-end pt-5">
                <app-forms 
                [showCourses]="false"
                title="GARANTA SUA VAGA"
                spanTitle="COM UM SUPER DESCONTO!"
                buttonText="Enviar"
                buttonLink="home"
                [formsAside]="true"
                ></app-forms>
            </div>
        </div>
    </div>
</header>
<app-footer></app-footer>