<header class="header">
    <app-navbar [corDoBackground]="corDoBackground"></app-navbar>
    <div class="section-header ">
        <div class="bg-img position-relative" style="background: url('/assets/bg03.jpg') no-repeat center/cover;">
            <div class="title-style text-center position-absolute bottom-0 start-0"
                [style.background-color]="corDoBackground">
                <h2 class="align-bottom">
                    {{post.title}}
                </h2>
            </div>
        </div>

    </div>
    <div class="containe-fluid container-content text-black mt-5 padding-custom">
        <div class="row">
            <div class="content col-lg-8 col-md-12">
                <h1>{{post.title}}</h1>
                <br>
                <br>
                <h4>{{post.description}}</h4>

                <div class="img-style" style="background: url('{{post.background}}') no-repeat center/cover;">

                </div>
                <br>
                <br>
                <p [innerHTML]="post.content"></p>
            </div>
            <div class="col-lg-4 col-md-12 justify-content-end pt-5">
                <app-forms [showCourses]="false" title="Quer ganhar uma bolsa de estudo?" spanTitle="Vem com a gente!🚀"
                    buttonText="Desejo mais informações!" buttonLink="home" [formsAside]="true"></app-forms>
            </div>
        </div>
    </div>
</header>
<app-bottombar></app-bottombar>
<app-footer></app-footer>