
<section class="container container-blog text-center box-shadow">
    <div class="row color-title-blog py-4 d-flex">
        <div class="col-12">
            <h2 class="text-center text-uppercase">
                <div class="typewriter">
                    Conheça
                </div>
            </h2>
        </div>
    </div>
    <div class="blog-content">
        <div class="row blog-row">
            <div class="col-lg-8 col-md-12 col-sm-12 blog-item blog-item0"
            style="background:  url('assets/smaker.jpg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    
                    Sala Maker
                </p>
            </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 blog-item blog-item1"
            style="background:  url('assets/laboratorio1.jpg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    Laboratório de enfermagem
                </p>
            </div>
            </div>
        </div>
        <div class="row blog-row">
            <div class="col-lg-5 col-md-12 col-sm-12 blog-item blog-item2"
            style="background:  url('assets/secretaria.jpg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    Recepção
                </p>
            </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 blog-item blog-item3" 
            style="background:  url('assets/laboratorio2.jpeg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    Laboratório de informática
                </p>
            </div>
            </div>
        </div>
        <div class="row blog-row end-row">
            <div class="col-lg-9 col-md-12 col-sm-12 blog-item blog-item4"
            style="background:  url('assets/laboratorio4.jpeg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    Laboratório de análise clínicas
                </p>
            </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 blog-item blog-item5"
            style="background:  url('assets/saladeaula.jpg') no-repeat center/cover; "
            >
            <div class="description d-flex">
                <p class="align-itens-end justify-content-center title-description">
                    
                    Sala de Aula
                </p>
            </div>
            </div>
        </div>
    </div>
</section>
