<app-navbar
corDoBackground="#464749"

></app-navbar>
<div class="container container-forms">
    <div class="container">
      <h3 class="mb-3">
        Faça Parte da Nossa Equipe!
      </h3>
      <h6 class="mb-5">
        Você é apaixonado por desafios, procura um ambiente de trabalho dinâmico e está pronto para crescer profissionalmente?  <span>Então, estamos procurando por você!</span> Envie-nos o seu currículo agora e faça parte da nossa equipe de talentos excepcionais.
      </h6>
    </div>
    <ng-container>
        <form class="row g-3" #infoForm="ngForm" (ngSubmit)="onSubmit(infoForm)">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <label for="inputNome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="inputNome" name="name" [(ngModel)]="forms.name" required
                maxlength="30" #name="ngModel">
              <div *ngIf="name.hasError('required') && name.touched " class="alert alert-danger">
                <div id="alert-danger">Informe um nome</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="forms.email" required email
                #email="ngModel">
              <div *ngIf="email.hasError('required') && email.touched " class="alert alert-danger">
                <div id="alert-danger">Informe um email</div>
              </div>
              <div *ngIf="email.hasError('email') && email.dirty" class="alert alert-danger">
                <p>
                  Informe um email valido
                </p>
              </div>
    
            </div>
            <div class="col-lg-7 col-md-12">
              <label for="inputPolo" class="form-label">Polo</label>
              <select class="form-select" id="inputPolo" name="polo" [(ngModel)]="forms.polo" required>
                <option value="VR_VILA">Volta Redonda - Vila</option>
                <option value="VR_RETIRO">Volta Redonda - Retiro</option>
                <option value="ANGRA_DOS_REIS">Angra do Reis</option>
                <option value="RESENDE">Resende</option>
                <option value="PORTO_REAL">Porto Real</option>
                <option value="ITATIAIA">Itatiaia</option>
                <option value="BARRA_MANSA">Barra Mansa</option>
              </select>
            </div>
            <div class="col-lg-5 col-md-12">
              <label for="inputTel" class="form-label">Celular</label>
              <input type="text" class="form-control" id="inputTel" name="celphone" [(ngModel)]="forms.phone"
                placeholder="(XX) XXXX-XXXX" required #celphone="ngModel">
              <div *ngIf="celphone.hasError('required') && celphone.touched " class="alert alert-danger">
                <div id="alert-danger">Informe um celular</div>
              </div>
            </div>
            <div class="col-lg-6" >
              <label for="inputSetor" class="form-label">Setor</label>
              <select id="inputSetor" class="form-select" name="setor" [(ngModel)]="forms.setor" required
                #setor="ngModel">
                <option selected>Opções</option>
                <option *ngFor="let setor of setores" value="{{setor}}">{{setor}}</option>
              </select>
              <div *ngIf="setor.hasError('required') && setor.touched " class="alert alert-danger">
                <div id="alert-danger">Informe um setor</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="curriculoFile" class="form-label">Anexar Curriculo</label>
              <input type="file" class="form-control" name="curriculoFile" id="curriculoFile"
               (change)="onFileChange($event)" [(ngModel)]="forms.curriculoFile" required>

              <div *ngIf="!fileValid" class="alert alert-danger">
                <div id="alert-danger">{{messageErrorFile}}</div>
              </div>
            </div>
            <div class="col-lg-12 pt-5">
              <div class="form-check">
                <input class="form-check-input" name="lgpd" type="checkbox" id="lgpd"
                  [(ngModel)]="forms.lgpd">
                <label class="form-check-label" for="lgpd">
                  <p>Ao enviar meu currículo, concordo com a coleta e processamento dos dados pessoais pelo Grupo Sels exclusivamente para fins de avaliação no processo seletivo. Compreendo que meus dados serão tratados de acordo com a política de privacidade da empresa e poderão ser retidos para consideração em futuras oportunidades de emprego.

                    Esta autorização é revogável mediante solicitação por escrito.
                    
                    Declaro que li, compreendi e concordo com os termos acima ao marcar esta caixa.</p>
                </label>
              </div>
            </div>
            <div class="col-lg-12 pb-4">
              <button type="submit" class="btn btn-forms-custom" (click)="processForms()" [disabled]="!infoForm.valid">
                <p *ngIf="!processingForms">
                  Enviar
                </p>
                <p *ngIf="processingForms">
                  <i class="fa fa-spinner fa-spin"></i>&nbsp; Enviando
                </p>
              </button>
            </div>
          </form>
    </ng-container>
    

</div>
<app-footer></app-footer>