<div class="carousel-container-home d-none d-lg-block desktop mt-5 pt-4">
    <a href="/seja-nosso-aluno">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="assets/04.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                    <img src="assets/03.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/05Novo.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/06.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/07.png" class="d-block w-100" alt="..." />
                </div>
            </div>
        </div>
    </a>
</div>

<div class="carousel-container-home mobile d-lg-none d-md-block">
    <a href="/seja-nosso-aluno">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="assets/03Mobile.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/04Mobile.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/05Mobile.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/06Mobile.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/07.png" class="d-block w-100" alt="..." />
                </div>
            </div>
        </div>
    </a>
</div>