.desktop .carousel-inner img {
    margin-top:-2vh;
    height: 85vh;
    overflow-y:hidden
}
.mobile .carousel-inner img {
    margin-top:10vh;
    height: 75vh;
}
.carousel-thumbnails {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 1; /* Para garantir que as miniaturas fiquem sobrepostas à imagem */
}

.carousel-thumbnail {
    width: 6vw; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0 5px; /* Espaçamento entre as miniaturas */
    cursor: pointer; /* Mostrar cursor de mão ao passar por cima */
}

.carousel-thumbnail:hover {
    opacity: 0.7; /* Reduzir a opacidade ao passar por cima */
}
.carousel-thumbnail.active {
    opacity: 0.7; /* Definir a opacidade desejada para a miniatura ativa */
}