<div class="carousel-container-home d-none d-lg-block desktop mt-5 pt-4">
  <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <a href="/cursos/f0a59e0a-8913-4evxc48-8adasda1-2345435ksdad">
          <img src="assets/04.png" class="d-block w-100" alt="..." />
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <a href="https://www.integrador.app/cadastro-estudante" target="_blank">
          <img src="assets/03.png" class="d-block w-100" alt="..." />
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <a href="/locais">
          <img src="assets/05Novo.png" class="d-block w-100" alt="..." />
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/06.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/07.png" class="d-block w-100" alt="..." />
      </div>
      <!--                 <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="font-size: 3rem;width: 10vw;"></span>
                    <span class="visually-hidden">Proximo</span>
                </button> -->
    </div>
    <div class="carousel-thumbnails">
      <img
        src="assets/04.png"
        class="carousel-thumbnail"
        data-bs-target="#mainCarousel"
        data-bs-slide-to="0"
        alt="Thumbnail 1"
      />
      <img
        src="assets/03.png"
        class="carousel-thumbnail"
        data-bs-target="#mainCarousel"
        data-bs-slide-to="1"
        alt="Thumbnail 2"
      />
      <img
        src="assets/05Novo.png"
        class="carousel-thumbnail"
        data-bs-target="#mainCarousel"
        data-bs-slide-to="2"
        alt="Thumbnail 3"
      />
      <img
        src="assets/06.png"
        class="carousel-thumbnail"
        data-bs-target="#mainCarousel"
        data-bs-slide-to="3"
        alt="Thumbnail 3"
      />
      <img
        src="assets/07.png"
        class="carousel-thumbnail"
        data-bs-target="#mainCarousel"
        data-bs-slide-to="4"
        alt="Thumbnail 3"
      />
    </div>
  </div>
</div>

<div class="carousel-container-home mobile d-lg-none d-md-block">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/04Mobile.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item " data-bs-interval="2000">
        <img src="assets/03Mobile2.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/05Mobile.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/06Mobile.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/07Mobile.png" class="d-block w-100" alt="..." />
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="font-size: 3rem;width: 10vw;"></span>
        <span class="visually-hidden">Proximo</span>
    </button>
    </div>
  </div>
</div>
