<div class="container-fluid bottom-bar-lg d-none d-lg-block container-bottombar">
    <nav class="navbar fixed-bottom bottom-bar row text-center">
        <div class="col-3 with-divider bounce d-flex align-items-center ps-5">
            <a href="https://api.whatsapp.com/send/?phone=552435120102&text=Ol%C3%A1%2C+vim+pelo+site+do+ITEC%21+Gostaria+de+mais+informa%C3%A7%C3%B5es%2C+pode+me+ajudar%3F&type=phone_number&app_absent=0" class=" d-flex pt-2">
                <i class="fa-brands fa-whatsapp animate__bounce"></i>
                <p class="m-0 ms-4" >
                    Matricule-se pelo <br>
                    <span>WhatsApp</span>
                </p>
            </a>
        </div>
        <div class="col-3 with-divider shake d-flex align-items-center ps-5">
            <a href="seja-nosso-aluno" class=" d-flex pt-2">
                <i class="fa-solid fa-phone shake-icon"></i>
                <p class="m-0 ms-4" >
                    Ligue-nos<br>
                    <span>24 3512-0102</span>
                </p>
            </a>
        </div>
        <div class="col-3 with-divider bounce d-flex align-items-center ps-5">
            <a href="seja-nosso-aluno" class=" d-flex pt-2">
                <i class="fa-regular fa-envelope animate__bounce"></i>
                <p class="m-0 ms-4">
                    Tire suas dúvidas<br>
                    <span>E-mail</span>
                </p>
            </a>
        </div>
        <div class="col-3 with-divider shake align-items-center ps-5 ">
            <a href="seja-nosso-aluno" class=" d-flex pt-2">
                <i class="fa-solid fa-phone-volume shake-icon"></i>
                <p class="m-0 ms-4">
                    Ligamos para<br>
                    <span>Você</span>
                </p>
            </a>
        </div>
        <span class="align-bottom mt-2 rainbow-line"></span>
    </nav>
</div>

<div class="container-fluid bottom-bar-md d-lg-none d-md-block">
    <nav class="navbar fixed-bottom bottom-bar row text-center">
        <div class="col-12 d-flex align-items-center ps-5">
            <a href="https://api.whatsapp.com/send/?phone=552435120102&text=Ol%C3%A1%2C+vim+pelo+site+do+ITEC%21+Gostaria+de+mais+informa%C3%A7%C3%B5es%2C+pode+me+ajudar%3F&type=phone_number&app_absent=0" class=" d-flex pt-2 m-0 ms-5">
                <i class="fa-brands fa-whatsapp animate__bounce"></i>
                <p class="ms-3">
                    Matricule-se pelo <br>
                    <span>WhatsApp</span>
                </p>
            </a>
        </div>
    </nav>
</div>
