
<div class="container-fluid bottom-bar-lg d-none d-lg-block" >
    <nav class="navbar fixed-bottom bottom-bar row text-center">
        <div class="col-3 with-divider bounce d-flex align-items-center ps-5">
            <i class="fa-brands fa-whatsapp animate__bounce"></i>
            <p class="m-0 ms-4">
                Matricule-se pelo <br>
                <span>WhatsApp</span>
            </p>
        </div>
        <div class="col-3 with-divider shake d-flex align-items-center ps-5">
            <i class="fa-solid fa-phone shake-icon" ></i>
            <p class="m-0 ms-4">
                Nos Ligue<br>
                <span>0800 000 4321</span>
            </p>
        </div>
        <div class="col-3 with-divider bounce d-flex align-items-center ps-5">
            <i class="fa-regular fa-envelope animate__bounce"></i>
            <p class="m-0 ms-4">
                Tire suas dúvidas<br>
                <span>E-mail</span>
            </p>
        </div>
        <div class="col-3 with-divider shake d-flex align-items-center ps-5 ">
            <i class="fa-solid fa-phone-volume shake-icon"></i>
            <p class="m-0 ms-4">
                Ligamos para<br>
                <span>Você</span>
            </p>
        </div>
        <div class="mt-3 rainbow-line"></div>
    </nav>
    
</div>

<div class="container-fluid bottom-bar-md d-lg-none d-md-block" >
    <nav class="navbar fixed-bottom bottom-bar row text-center">
        <div class="col-12 d-flex align-items-center ps-5">
            <i class="fa-brands fa-whatsapp animate__bounce"></i>
            <p class="">
                Matricule-se pelo <br>
                <span>WhatsApp</span>
            </p>
        </div>
    </nav>
</div>
