<header class="header">
    <app-navbar [corDoBackground]="corDoBackground"></app-navbar>
    <div class="bg-img" >
    </div>
</header>
<main>
    <div class="title mt-5 p-5 text-center">
        <h1 class="text-black" [style.cor]="corDoBackground">{{title}}</h1>
    </div>
    <div class="container-fluid unload-container mt-5" *ngIf="postsLoaded">
        <div class="row gap-3 d-flex justify-content-around" >
            <div class="card mb-3 col-lg-3 col-md-6 col-sm-12 " *ngFor="let post of unloadPosts">
                <div class="row g-0">
                  <div class="col-lg-4 ">
                    <img src="/assets/fundocards.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <button class="btn btn-debug"></button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid unload-container" *ngIf="!postsLoaded">
        <div class="row gap-3 d-flex justify-content-around" >
            <div class="card mb-3 col-lg-3 col-md-6 col-sm-12 " *ngFor="let post of posts">

                <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{post.background}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text">{{post.description}}</p>
                        </div>
                        <button class="btn btn-primary" (click)="goToPost(post.id)">Ver</button>

                      </div>
                </div>
            </div>
        </div>
    </div>

</main>
