.img-radius img{
    border-radius:100%
}

.card {
    height:60vh!important;
    width:45vw;
    margin-bottom:5vh!important;
    padding-right:10vh!important;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
}

.card-custom{
    padding:2rem
}


.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.line-custom-height{
    line-height:0.9rem

}
.padding{
    padding-top:20vh;
}

.img-radius {
    border-radius: 5px;
}

 
h6 {
    font-size: 14px;
}

.card .card-block p {
}

@media only screen and (min-width: 1400px){
p {
    font-size: 0.8rem;
}
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}


.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.btn-custon-editar{
    height:6vh;
    padding:0 2rem 0 2rem ;
    border-radius:2rem;
}

