<div class="page-content page-container " id="page-content">
  <div>
    <div class="container">
      <div class="row justify-content-center padding">
        <!-- Loop para exibir vários cards -->
        <div class="col-md-6 " *ngFor="let data of userDataArray ; let i = index" >
          <div class="card user-card-full d-flex">
            <div class="row card-custom">
              <div
                class="col-4 bg-c-lite-green user-profile card-header-custom"
              >
                <div class="card-block text-center text-white mb-5 img-radius">
                  <div class="pb-5">
                    <img
                    [src]="getAvatarImagePath(i)"
                      class="pt-3"
                      alt="User-Profile-Image"
                    />
                  </div>
                  <h6 class="f-w-600">{{ data.name }}</h6>
                  <p class="w-100 mt-3">{{ data.polo }}</p>
                  <p class="w-100 mt-3">{{ data.course }}</p>
                </div>
              </div>
              <div class="col-8 card-body-custom py-3">
                <div class="card-block">
                  <div class="row">
                    <h6 class=" f-w-600"><strong>Contato</strong></h6>
                    <hr class="mx-2"/>
                    <div class="col-12 text-center py-2">
                        <p class="mb-1 text-center f-w-600">Email</p>
                        <span
                        class="placeholder col-12 line-custom-height"
                        *ngIf="!showInfo(data.contacted)"
                      ></span>

                      <h6
                        class="text-muted f-w-400 line-custom-height"
                        *ngIf="showInfo(data.contacted)"
                      >
                        {{ data.email }}
                      </h6>
                    </div>
                    <div class="col-12 py-3 text-center">
                      <p class="mb-1 text-center f-w-600">Telefone</p>
                      <span
                        class="placeholder col-12"
                        *ngIf="!showInfo(data.contacted)"
                      ></span>
                      <h6
                        class="text-muted f-w-400"
                        *ngIf="showInfo(data.contacted)"
                      >
                        {{ data.phone }}
                      </h6>
                    </div>
                  </div>
                  <div class="row">
                    <h6 class="mb-3 f-w-600"><strong>Info</strong></h6>
                    <hr class="mx-2"/>                    
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="mb-1 f-w-600">Data</p>
                        <h6 class="text-muted f-w-400">
                          {{ data.createdAt | date: "dd/MM/yyyy" }}
                        </h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="mb-1 f-w-600">Carteira</p>
                        <h6 class="text-muted f-w-400">
                          {{ getContacted(data.contacted) }}
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="container py-4 ">
                      <div class="row">
                        <div class="col">
                          <button
                            class="btn btn-primary btn-sm disabled btn-custon-editar"
                          >
                            Editar
                          </button>
                        </div>
                        <div class="col">
                          <button
                            class="btn btn-success btn-sm btn-custon"
                            [ngStyle]="getButtonStyle(data.contacted)"
                          >
                            Captar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
