<div class="container content">
    <h3 class="text-center my-5" style="font-size:3rem">
        SAIBA OQUE NOS MOVE
    </h3>
    <div class="row">
        <div class="col-4 text-center align-self-top" >
            <div style="margin-bottom:3rem">
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-eye" style="font-size:2rem;color: #aaeda6;"></i>&nbsp;<h3 class="title">Visão</h3>
                </div>
                <p class="description text-center">
                    Ser reconhecido como um dos maiores grupos de ensino e tecnologia do país oferecendo soluções e transformando pessoas, preparando-as para a vida e para o mercado de trabalho e assim, sendo parceira fundamental de empresas que busquem aliados para seu crescimento.
                </p>
            </div>
        </div>
        <div class="col-4 text-center align-self-top" >

            <div style="margin-left: 3rem; margin-bottom:3rem">
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-bullseye" style="font-size:2rem;color: #f07575;"></i>&nbsp;<h3 class="title">Missão</h3>
                </div>
                <p class="description text-center">
                    Contribuir para o Desenvolvimento da Sociedade, oferecendo Educação de excelência nas várias áreas do conhecimento e  trazendo inovações com criatividade e tecnologia,  para que pessoas e empresas alcancem seus objetivos.
                </p>

            </div>

        </div>
        <div class="col-4 text-center align-self-top" >
            <div style="margin-left: 3rem; margin-bottom:3rem">
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-scale-unbalanced-flip" style="font-size:2rem; color: #dbd037;"></i>&nbsp;<h3 class="title">Valores</h3>
                </div>
                <p class="description text-center ">
                    Integridade, Pesquisa, Criatividade, Inovação e Excelência.
                </p>
            </div>
            
        </div>
    </div>

</div>