<section class="container content">
    <h3 class="text-center my-5" style="font-size:3rem">
        SAIBA OQUE NOS MOVE
    </h3>
    <div class="row">
        <div class="col-12 mb-5 text-center">
            <p>
                O compromisso do <b>ITEC</b> é oferecer soluções e transformar pessoas, preparando-as para a vida e para o mercado de trabalho. Somos parceiros fundamentais de empresas que buscam aliados para seu crescimento.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center align-self-top" >
            <div style="margin-bottom:3rem; width: 100%;" >
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-eye" style="font-size:2rem;color: #aaeda6;"></i>&nbsp;<h3 class="title">Visão</h3>
                </div>
                <p class="description text-cente ">
                    Buscamos ser reconhecidos como líderes no campo educacional e tecnológico, oferecendo soluções inovadoras que impactam positivamente a vida das pessoas e contribuem para o crescimento econômico e social do país.                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center align-self-top" >

            <div style="margin-bottom:3rem; width: 100%;" >
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-bullseye" style="font-size:2rem;color: #f07575;"></i>&nbsp;<h3 class="title">Missão</h3>
                </div>
                <p class="description text-center">
                    Contribuímos para o desenvolvimento da sociedade, oferecendo educação de excelência em diversas áreas do conhecimento. Nossa abordagem inclui inovações criativas e tecnológicas, visando ajudar pessoas e empresas a alcançarem seus objetivos.                </p>

            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center align-self-top" >
            <div style="margin-bottom:3rem; width: 100%;" >
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa-solid fa-scale-unbalanced-flip" style="font-size:2rem; color: #dbd037;"></i>&nbsp;<h3 class="title">Valores</h3>
                </div>
                <p class="description text-center  ">
                    Nosso trabalho é pautado pela integridade, pesquisa constante, criatividade, inovação e busca pela excelência. Esses valores guiam todas as nossas ações e decisões, garantindo que ofereçamos sempre o melhor aos nossos alunos e parceiros.                </p>
            </div>
            
        </div>
    </div>

</section>

