<div class="navbars-container position-relative">
  
<nav class="sub-nav d-none d-lg-block">
  <div class="container-fluid">
    <div class="row p-2">
      <div class="col text-start ps-5 d-flex">
        <button class="d-flex me-5 btn">
          <i class="fa-brands fa-whatsapp"></i>
          <p href="#" class="text-white">&nbsp;  Matricule-se pelo WhatsApp</p>
        </button>
        <button class="d-flex btn">
          <i class="fa-solid fa-phone"></i>
          <p href="#" class="text-white">&nbsp;(24) 99908-7528</p>
        </button>
      </div>
      <div class="col text-end ps-5 icons">
        <button class="btn">
          <i class="fa-brands fa-whatsapp"></i>
        </button>
        <button class="btn">
          <i class="fa-brands fa-instagram"></i>
        </button>
        <button class="btn">
          <i class="fa-brands fa-linkedin"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar tn position-absolute navbar-expand-lg" [style.background-color]="corDoBackground">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img class="navbar-brand ms-0" src="assets/logbranca.webp" alt="" style="height: max-content;">
    </div>
    <button class="btn d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars icon-burger"></i></button>
    <div class="collapse navbar-collapse pe-5" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-page" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cursos" routerLinkActive="active-page" >CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SEJA NOSSO ALUNO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/noticias" routerLinkActive="active-page">NOTICIAS</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PORTAL DO ALUNO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">GRUPO SELS</a></li>
            <li><a class="dropdown-item" href="#">SALA VIRTUAL - ITEC</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active-page">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>