<section class="container container-blog text-center box-shadow">
    <div class="row color-title-blog py-4 d-flex">
        <div class="col">
            <h2 class="text-start">
                BLOG <span >&nbsp; ITEC</span>
            </h2>
        </div>
        <div class="col">
            <h2 class="text-end">
                <a (click)="goToPageWithAll()">
                    <i class="fa-solid fa-chevron-right" style="font-size: 2rem;"></i>
                </a>
            </h2>

        </div>
    </div>
    <div class="blog-content">
        <div class="row blog-row">
            <div class="col-lg-8 col-md-12 col-sm-12 blog-item blog-item0" (click)="goToPost(blogs[0].id)" 
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[0].background }}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[0].id)">
                        {{blogs[0].title}}
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 blog-item blog-item1" (click)="goToPost(blogs[1].id)"
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[1].background}}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title ">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[1].id)">
                        {{blogs[1].title}}
                    </a>
                </h3>
            </div>
        </div>
        <div class="row blog-row">
            <div class="col-lg-5 col-md-12 col-sm-12 blog-item blog-item2"(click)="goToPost(blogs[2].id)"
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[2].background}}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[2].id)">
                        {{blogs[2].title}}
                    </a>
                </h3>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 blog-item blog-item3" (click)="goToPost(blogs[3].id)"
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[3].background}}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[3].id)">
                        {{blogs[3].title}}
                    </a>             
                </h3>
            </div>
        </div>
        <div class="row blog-row end-row">
            <div class="col-lg-9 col-md-12 col-sm-12 blog-item blog-item4" (click)="goToPost(blogs[4].id)"
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[4].background}}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[4].id)">
                        {{blogs[4].title}}
                    </a>             </h3>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 blog-item blog-item5" (click)="goToPost(blogs[5].id)"
            style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{blogs[5].background}}') no-repeat center/cover; "
            >
                <h3 class="align-self-center title">
                    <a *ngIf="blogs && blogs.length > 0" (click)="goToPost(blogs[5].id)">
                        {{blogs[5].title}}
                    </a>              
                </h3>
            </div>
        </div>
    </div>
</section>
