.blog-item{
    height:30vh;
/*     background-color:pink;
    border: solid 2px green; */
    display:flex
}
.blog-row:hover{
    cursor:pointer
}
.blog-item h3{
    padding:  0
}
.container-blog{
    padding: 0 3vw 5vh 3vw
}
.color-title-blog{
    color:#659fe0;
 
}
.color-title-blog span{
    color:#1c3f68;
    font-weight:bold;
}
.color-title-blog a{
    color:#1c3f68;
}
.blog-item{

}
.blog-item {
    border: solid 1px #ffff;
}
.title a{
    color:#ffff;
}

.blog-item:hover {
    background: #96bae2;
}

.blog-item:hover .title {
    color: white;
}
.blog-item0{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/bg-itec-enfermagem-2.jpg') no-repeat center;  
}
.blog-item1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/bg-itec-games-1.png') no-repeat center;  
}
.blog-item2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/newsimg3.jpg') no-repeat center;  
}
.blog-item3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/newsimg4.jpg') no-repeat center;  
}
.blog-item4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/newsimg5.jpg') no-repeat center;  
}
.blog-item5{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/newsimg6.jpg') no-repeat center;  
}
@media(max-width:768px){
    .container-blog{
        padding:0 10vw;

    }
    .blog-content{
        padding-bottom:10vh!important;
    }
}
.fa-chevron-right:hover{
    cursor:pointer
  }