<div class="home">
  <header>
    <app-navbar></app-navbar>
    <div class="carousel-container-home d-none d-lg-block desktop">
      <a href="/seja-nosso-aluno">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/bannerhome-analise.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-profissionalizantes.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-enfermagem.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-ensinomedio.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="carousel-container-home mobile d-lg-none d-md-block">
      <a href="/seja-nosso-aluno">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/bannerhome-analise-mobile.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-profissionalizantes-mobile.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-enfermagem-mobile.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
            <div class="carousel-item">
              <img src="assets/bannerhome-ensinomedio-mobile.webp" class="d-block w-100" alt="..." data-bs-interval="2000"/>
            </div>
          </div>
        </div>
      </a>
    </div>
  </header>
  <section class="home-content ">


    <app-our-courses></app-our-courses>

    <div class="why-us box-shadow container-fluid mt-5">

      <div class="col-lg-12">
        <div class=" justify-content-start rainbow-line"></div>

        <div class="row text-start my-3">
          <p>POR QUE ESCOLHER O <span>ITEC ?</span></p>
        </div>
        <div class="row text-start my-3">
          <p>
            Presente em todas as regiões do Brasil, o Grau Técnico é a maior rede privada de Ensino Técnico no Brasil.
            Oferecemos mais de 30 cursos e já são mais de 100 mil alunos matriculados.</p>
        </div>
        <div class="row justify-content-start my-3 ms-1">
          <button class="col-md-12 btn custom-btn-home">
            <a routerLink="/seja-nosso-aluno">MATRICULE-SE</a>
          </button>
        </div>
      </div>
    </div>

    <app-forms img="assets/POST DESCONTO EXCLUSIVO STORY.jpg" orderForms="order-2" orderImage="order-1"
      title="CHEGOU A HORA DE" spanTitle="MUDAR SEU FUTURO"
      text="Faça agora o seu cadastro e garanta uma oferta super especial para se matricular em qualquer uma de nossas unidades espalhadas pelo Brasil."
      buttonText="Garantir meu desconto"></app-forms>

  </section>
  <app-counters></app-counters>
  <section class="home-content "> 
    <app-forms img="assets/SEUSUCESSO.png" orderForms="order-1" orderImage="order-2" title="QUAL CURSO"
      spanTitle="COMBINA COM VOCÊ ?"
      text="Quer se qualificar para o mercado de trabalho mas ainda não sabe qual curso fazer? Descubra!"
      buttonText="Fazer o teste" [showCourses]="false"></app-forms>

  </section>


  <div class="container-fluid div-style cat-news">
    <div class="row text-center">
      <div class="col-lg-6 col-md-12">
        <h3>NÃO PERCA <span>NENHUMA NOVIDADE</span></h3>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row text-center">
          <div class="col-lg-8 col-md-12 form-floating mb-3 input-field">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
            <label class="ms-lg-4 ms-md-0" for="floatingInput">Seu melhor email</label>
          </div>
          <button class="col-lg-4 col-md-12 btn custom-btn-home" (click)="onSubmit()">
            CADASTRAR
          </button>
        </div>
      </div>      
    </div>
  </div>

  <section class="home-content ">
    <app-blog-presentation></app-blog-presentation>
  </section>

  <div class="container-fluid div-style cat-news">
    <div class="row text-center">
      <div class="col-lg-6 col-md-12">
        <h3>QUER GANHAR UM <span>SUPER DESCONTO?</span></h3>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-12 form-floating mb-3 input-field">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="ms-lg-4 ms-md-0" for="floatingInput">Seu melhor email</label>
          </div>
          <button class="col-lg-4 col-md-12 btn custom-btn-home" >
            <a >GARANTIR DESCONTO</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="home-content">
    <app-news-presentation title="ÚLTIMAS" titleOnSpan="NOTÍCIAS" [news]="news" location="/noticias"></app-news-presentation>

  </section>

  <app-testimonials></app-testimonials>

  <section class="home-content ">
    <app-news-presentation title="ITEC NA" titleOnSpan="MÍDIA" [news]="midia" location="/posts"></app-news-presentation>
  </section>

  
<div class="container-fluid div-style cat-news">
    <div class="row text-center">
      <div class="col-lg-6 col-md-12 order-lg-0 order-md-1 ">
        <h3>CONHEÇAS AS NOSSAS<span>UNIDADES</span></h3>
        <button class="col-lg-6 col-md-12 btn custom-btn-home-unidades mt-5">
          <a href="#apply">CONHECER AS UNIDADES</a>
        </button>
      </div>
      <div class="col-lg-6 col-md-12 order-lg-1 order-md-0 d-flex justify-content-center">
        <div class="row text-center imgStyle">
          <img src="assets/mapsEnd.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="marginb">

  </div>

  <app-bottombar></app-bottombar>
 </div> 
<app-footer></app-footer>
