.container-maps{
    margin:20vh 0 20vh 0;
}
.bg-title-map{
    border-top-right-radius:2rem;
    border-top-left-radius:2rem;
    margin-top:10vh;
    width:100%;
    background: rgb(158, 35, 97);
    background: linear-gradient(
      90deg,
      rgba(158, 35, 97, 1) 18%,
      rgba(29, 61, 116, 1) 49%,
      rgba(128, 159, 64, 1) 83%
    );
}
.md-padding-custom{
    margin-top:10vh
}
@media(max-width:768px){
    .md-padding-custom{
        margin-top:10vh
    }
    .container-maps{
        margin:0vh 0 20vh 0;
        padding: 10vh 0 10vh 0;
    }
}