.content-timeline{
    height:65vh;
    margin-top:15vh;
    overflow-y:scroll;
    scrollbar-color: transparent transparent; 
}
.content{
    padding:5rem 10rem;
}
@media(max-width:768px){
    .content{
        padding:5rem 0;
    }
}