
<app-navbar
corDoBackground="#464749"

></app-navbar>
<div class="content-timeline">
    <app-timeline></app-timeline>
</div>
<div class="content">
    <app-company-values></app-company-values>
</div>
<section  style="color: black;font-size: 1.4rem;margin-bottom:20vh">
    <div class="pt-5"></div>
    <div id="about">
        <div class="container text-center">
            <h3 class="mb-4 ">Sobre a ITEC</h3>
            <p>A ITEC é uma instituição de ensino e tecnologia comprometida em oferecer educação de qualidade e soluções inovadoras para transformar vidas e impulsionar o crescimento profissional e pessoal de seus alunos. Desde a sua fundação em 2009, a ITEC tem sido uma referência no mercado, oferecendo uma ampla gama de cursos profissionalizantes e técnicos para atender às demandas do mercado de trabalho.</p>
            <br>
            <p>Nossa missão é contribuir para o desenvolvimento da sociedade, fornecendo educação de excelência em diversas áreas do conhecimento, e trazendo inovações com criatividade e tecnologia para que nossos alunos e parceiros alcancem seus objetivos. Acreditamos na integridade, pesquisa, criatividade, inovação e excelência como nossos valores fundamentais.</p>
            <br>
            <p>Com polos em várias cidades da região, como Volta Redonda, Resende e Angra dos Reis, a ITEC tem expandido sua atuação ao longo dos anos, tornando-se uma parceira essencial para empresas que buscam profissionais qualificados e para indivíduos que desejam investir em sua educação e carreira.</p>
        </div>
    </div>
</section>

<app-footer></app-footer>