
<header class="header">
    <app-navbar
        [corDoBackground]="corDoBackground"
    ></app-navbar>
    <div>
       <div class="bg-img" >
            <div class="title-style text-center position-absolute bottom-0 start-0 ms-lg-5 ms-0 col-lg-6 col-12" [style.background-color]="corDoBackground">
                <h2>
                    {{course.title}}
                </h2>
            </div>
       </div>

    </div>
    <div class="containe-fluid text-black mt-5 p-lg-3 p-2">
        <div class="row">
            <h1 class="col-lg-8 col-md-12 title-course-info">{{course.title}}</h1>
            <div class="content col-lg-8 col-md-12">             
                <div class="divisions">
                    <h4 [style.borderColor]="corDoBackground" [style.color]="corDoBackground">{{titles.firstTitle}}</h4>
                    <p class="text-center" [style.background-color]="corDoBackground"> {{course.about}}</p>
                </div>
                <div class="divisions">
                    <h4 [style.borderColor]="corDoBackground" [style.color]="corDoBackground">{{titles.secondTitle}} </h4>
                    <p class="text-center" [style.background-color]="corDoBackground">{{course.areaOfExpertise}}</p>
                </div>
                <div class="divisions">
                    
                    <div class="row" >
                        <div class="itens col-lg-12 col-md-12 pb-4" *ngFor="let module of course.content">
                            <h4 [style.borderColor]="corDoBackground" [style.color]="corDoBackground">{{module.title}}</h4>
                            <ul [style.background-color]="corDoBackground">
                                <li *ngFor="let topics of  module.topics" >
                                <i class="fa-solid fa-check"></i>&nbsp;  {{ topics }}
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-12 justify-content-end">
                <div *ngIf="haveAvgSalary()">
                    <div class="divisions " >
                        <h4 [style.borderColor]="corDoBackground" [style.color]="corDoBackground">Media salárial</h4>
                        <p [style.background-color]="corDoBackground">{{ course.avgSalary | currency:'BRL' }}</p>
                        <small class="text-center d-block">*Dados retirados do site <a href="https://www.salario.com.br" target="_blank">vagas.com.br</a></small>
                    </div>
                    <div class="divisions-infos mb-1" >
                        <h4 [style.borderColor]="corDoBackground" [style.color]="corDoBackground">Infomações</h4>
                        <p [style.background-color]="corDoBackground">Carga horária: {{ course.hours}}</p>
                        <p [style.background-color]="corDoBackground">Duração: {{ course.duration}}</p>
                    </div>
                </div>


   
                <app-forms 
                [showCourses]="false"
                title="Quer ganhar uma bolsa de estudo?"
                spanTitle="Vem com a gente!🚀"
                buttonText="Enviar"
                buttonLink="home"
                [formsAside]="true"
                [tag]="courseTag"
                ></app-forms>
            </div>
        </div>
    </div>
</header>
<app-bottombar></app-bottombar>
<app-footer></app-footer>
