
<app-navbar
corDoBackground="#464749"

></app-navbar>
<div class="p-5" style="color: black;font-size: 1.4rem;">
    <div class="mt-5 pt-5"></div>
    <h3 class="mb-5" style="font-size: 2rem;">
        Institucional
    </h3>
    <p>
        No compasso acelerado do avanço tecnológico e das mudanças sociais, existem diversas barreiras econômicas, sociais e culturais sendo quebradas, abrindo portas para o acesso facilitado à informação, liberdade de expressão e inclusão social. Nesse cenário, contudo, não podemos ignorar as sombras que surgem, como a erosão dos valores humanos, o consumismo desenfreado, a marginalização social e os impactos negativos ao meio ambiente.
    </p>
    <br>
    <p>
        É por isso que defendemos a urgência em despertar nas pessoas a valorização do conhecimento técnico, ao mesmo tempo em que as conscientizamos sobre a importância da solidariedade, respeito ao próximo e colaboração em equipe.
    </p>
    <br>
    <p>
        O ITEC possui sólido posicionamento, abrindo trilhas para oportunidades que beneficiam tanto o indivíduo quanto a comunidade. Nosso compromisso vai além de orientar o desenvolvimento profissional; buscamos catalisar a inserção social por meio de uma educação que não apenas estimula, mas também inova, moldando uma sociedade mais equilibrada e consciente.
    </p>
    <div class="mt-5 pt-5 mb-5 pb-5"></div>
</div>

<app-footer></app-footer>