<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                                <img src="assets/itecantiga (1).jpg" alt="log itec" style="border-radius: 100%; width: 100%;height: 90%;margin-top: -1vh;">
                            </div>
                            <div class="timeline-year"> 2009 </div>
                        <div class="inner-content">
                            <h3 class="title">Fundação</h3>
                            <p class="description">
                                Em 2009 inicíamos nossa jornada apenas com cursos profissionalizantes, o objetivo era transformar a vida das pessoas.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-champagne-glasses"></i>
                        </div>
                        <div class="timeline-year"> 2013 </div>
                        <div class="inner-content">
                            <h3 class="title">Novo polo e cursos</h3>
                            <p class="description">
                                Em 2013 inauguramos o polo da Vila Santa Cecilia, já com os cursos de Podologia e Técnico em Estétitca .
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa-regular fa-calendar-days"></i>
                        </div>
                        <div class="timeline-year"> 2016 </div>
                        <div class="inner-content">
                            <h3 class="title">Nova Identidade</h3>
                            <p class="description">
                              Com a expansão do polo para atender a demanda crescente dos cursos técnicos e a crição da nossa nova logo marca o ITEC ganha outra cara e se torna mais conhecido em toda a região .
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="timeline-year"> 2017 </div>
                        <div class="inner-content">
                            <h3 class="title">Expansão</h3>
                            <p class="description">
                               Dois novos polos foram inaugurados o de Resende e  Angra dos Reis. 
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
