<nav class="navbar tn position-absolute navbar-expand-lg" [style.background-color]="corDoBackground">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img class="navbar-brand ms-0" src="assets/logbranca.webp" alt="" style="height: max-content;">
      </div>
      <button class="btn d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars icon-burger"></i></button>
      <div class="collapse navbar-collapse pe-5 text-black" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/colaborador/home" routerLinkActive="active-page">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/colaborador/minha-carteira" routerLinkActive="active-page">MINHA CARTEIRA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="logout()">SAIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

