<div class="header">
    <app-navbar [corDoBackground]="corDoBackground"></app-navbar>
</div>
<section class="courses-content">


    <app-our-courses
    ></app-our-courses>

    <app-forms img="assets/POST DESCONTO EXCLUSIVO STORY.jpg" orderForms="order-2" orderImage="order-1"
      title="CHEGOU A HORA DE" spanTitle="MUDAR SEU FUTURO"
      text="Faça agora o seu cadastro e garanta uma oferta super especial para se matricular em qualquer uma de nossas unidades espalhadas pelo Brasil."
      buttonText="Garantir meu desconto"></app-forms>

</section>
<app-bottombar></app-bottombar>
<footer>
    <app-footer></app-footer>
</footer>