<footer class="footer-20192">
    <div class="site-section">
      <div class="container">

        <div class="cta d-block d-md-flex align-items-center px-5">
          <div>
            <h2 class="mb-0">Pronto para dar o próximo passo ?</h2>
            <h3 class="text-dark">Vamos juntos!</h3>
          </div>
          <div class="ms-auto">
            <a href="seja-nosso-aluno" class="btn btn-dark rounded-0 py-3 px-5">Entre em contato</a>
          </div>
        </div>
        <div class="row">

          <div class="col-sm">
            <a href="#" class="footer-logo">CriaTec</a>
            <p class="copyright">
              <small>&copy; {{year}}</small>
            </p>
          </div>
          <div class="col-sm">
            <h3>PORTAL DO ALUNO</h3>
            <ul class="list-unstyled links">
                <li><a href="#">GRUPO SELS</a></li>
                <li><a href="#">SALA VIRTUAL - ITEC</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>BLOG</h3>
            <ul class="list-unstyled links">
              <li><a href="/noticias">NOTÍCIAS</a></li>
              <li><a href="/blog">BLOG DO ITEC</a></li>
              <li><a href="/post">ITEC NA MÍDIA</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>SITE</h3>
            <ul class="list-unstyled links">
              <li><a href="seja-nosso-aluno">SEJA NOSSO ALUNO</a></li>
              <li><a href="cursos">CURSOS</a></li>
              <li><a href="#">ITEC SOCIAL</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>SIGA NOSSOS PERFIS</h3>
            <ul class="list-unstyled social">
              <li><a (click)="navigateTo('https://www.instagram.com/itec.ensino/')"><span class="fa-brands fa-instagram"></span></a></li>
              <li><a (click)="navigateTo('https://www.linkedin.com/company/itecensino/')"><span class="fa-brands fa-linkedin"></span></a></li>
              <li><a (click)="navigateTo('https://api.whatsapp.com/send/?phone=552435120102&text=Ol%C3%A1%2C+vim+pelo+site+do+ITEC%21+Gostaria+de+mais+informa%C3%A7%C3%B5es%2C+pode+me+ajudar%3F&type=phone_number&app_absent=0')"><span class="fa-brands fa-whatsapp"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
